 

<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-header-nav></app-header-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
 <app-navbar></app-navbar>
      <!-- partial -->
      <div class="container">
        <h2>Liste des Nodes <small> </small></h2>
        <div class="row">
          <div class="col-2">
            <button type="button" routerLink="/dashboard/ajout-sevirities">Ajouter Seviritie</button>
          </div>

          <div class="col-2">
            <button type="button" (click)="exportExcel()">Expoter </button>
          </div>
          <div class="col-4">
            
          </div>

          <div class="col-2">
          <input type="text" placeholder="Rechercher ..." [(ngModel)]="search"/>
          </div>
          <div class="col-2">
            <button type="button" (click)="searchM()">Recherche</button>
          </div>
        </div>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Nom</div>
            <div class="col col-2">Adresse IP</div>
          
            <div class="col col-3" >Modifier</div> 
            <div class="col col-3" >Supprimer</div> 
         
          </li>
           
     <ng-container *ngFor="let item of nodes">
     
        
          <li class="table-row">
            <div class="col col-1" data-label="Job Id">{{item.Node_Name}}</div>
            <div class="col col-2" data-label="Customer Name">{{item.Ip_address}}</div>
            <div    class="col col-4" data-label="Payment Status">      <i routerLink="/dashboard/edit-node/{{item.id}}" style="color: blue;" class="uil-eye"></i></div>
            <div    class="col col-4" data-label="Payment Status">      <i  (click)="delete(item.id)" style="color: red;" class="uil uil-trash icon"></i></div>
          </li>
        </ng-container>
        </ul>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  