<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <app-header-nav></app-header-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
  
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <app-navbar></app-navbar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
    
            <div class=" row">
  
                <div class=" col-lg-12 col-md-12">
                  <div class=" card">
                    <div class="container">
                        <div class="title">Ajouter Activitie</div>
                        <div class="content">
                            <form [formGroup]="activtyForm" (ngSubmit)="onSubmit()">
                                <div class="user-details">
                              <div class="input-box">
                                <span class="details">Titre</span>
                                <input type="text"  formControlName="Change_Id" placeholder="Entrer Titre" required>
                              </div>

                              <div class="input-box">
                                <span class="details">Change id</span>
                                <input type="text"  formControlName="Title_activity" placeholder="Entrer Titre" required>
                              </div> 
                              <div class="input-box">
                                <span class="details">Date implementation</span>
                                <input type="date"   formControlName="Date_Implementation"  required>
                              </div>
    
                              <div class="input-box">
                                <span class="details">Etat</span>
                                <select name="pets" id="pet-select" formControlName="etat"  >
                                <ng-container *ngFor="let item of etats">
                                    <option [value]="item.id">{{item.Etat_Name}}</option>
                                    </ng-container>     
                                    </select>                  
                             </div>

                             <div class="input-box">
                                <span class="details">Node</span>
                                <select name="pets" id="pet-select" formControlName="node"  >
                                <ng-container *ngFor="let item of nodes">
                                    <option [value]="item.id">{{item.Node_Name}}</option>
                                    </ng-container>   
                                    </select>                    
                             </div>
                             <div class="input-box">
                                <span class="details">Owner</span>
                                <select name="pets" id="pet-select" formControlName="obenedby"    >
                                  <ng-container *ngFor="let item of users">
                                    <option [value]="item.id">{{item.username}}</option>
                                    </ng-container>
                                    
                                </select> 
                                                
                             </div>
                             
                            
                             <div class="input-box">
                                <span class="details">Comment</span>
                               <textarea  formControlName="comment"></textarea>
                              </div>
                            </div>
                          
                            <div class="button">
                              <button type="submit" value="Register">Ajouter</button>
                            </div>
                          </form>
                        </div>
                      </div>
                  </div>
                </div>
              </div>



        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
         
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>