<ng-container *ngIf="display$ | async as display">
    <div class="bloc-video" *ngIf="display === 'open'">
        <section [class.open]="display === 'open'"
                 (click)="close()">
          <div (click)="$event.stopPropagation()">
            <button class="close"
                    type="button" 
                    (click)="close()">X</button>
                    <div class=" row">
  
                        <div class=" col-lg-12 col-md-12">
                          <div class=" card">
                            <div class="container">
                                <div class="title">Modifier Activitie</div>
                                <div class="content">
                                    <form  >
                                        
                                   
                                     
                                    
                                     <div class="input-box">
                                        <span class="details">Comment</span>
                                       <textarea  ></textarea>
                                      </div>
                               
                                  
                                    <div class="button">
                                      <button type="submit"  >Modifier</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
       
          </div>
        </section>
    </div>
      </ng-container>