 
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #9b98e1;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
  i{
    color: blue;  
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
  }

  
  input{
    font-family: inherit;
    transition: border .2s linear,box-shadow .2s linear;
    vertical-align: middle;
    width: 100%;
    color: #8093a8;
    padding: 13px 15px 14px;
    border-radius: 0;
    font-weight: 400;
    background-color: #fff;
    text-transform: inherit;
    border: 1px solid #002b5c14;
    font-size: 14px;
    outline: none;
    line-height: inherit;
    letter-spacing: 0;
    border-radius: 8px;
    height: 45px;
  }
  button{
    border-radius: 7px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: normal;
    /* padding: 11px 32px 11px 31px; */
    background: #0000;
    border: 2px solid #eaeff5;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease 0s;
    height: 45px;
    width: 144px;
    background: #13c5dd;
    color: #fff;
  }
  .row{
    margin-bottom: 20px !important;
  }